.hidden {
  visibility: hidden;
}

.main-content {
  margin-left: auto!important;
  margin-right: auto!important;
  margin-top: 80px!important;
}

@media(min-width: 769px){
  .main-content {
    width: 80%!important;
  }
}

@media(max-width: 768px){
  .main-content {
    width: 95%!important;
  }
}

.ui.pointing.menu .active.item {
    border-color: #f2711c!important;
}

.ui.statistic {
  margin-left: 0!important;
  margin-bottom: 3px!important;
}

.ui.message .header:not(.ui) {
  font-size: 1.5em!important;
}

.field p {
  margin-bottom: 3px!important;
}

.main.menu.fixed {
  z-index: 10000!important;
}

.paddingless {
  padding: 0!important;
}

.marginless {
  margin: 0!important;
}

#no_checkins_error {
  margin-bottom: 10px;
}

pre {
  padding-bottom: 0px!important;
  padding-top: 0px!important;
  margin-bottom: 0px!important;
  margin-top:0px!important;
  /*  white-space: pre-wrap;
    background: hsl(30,80%,90%);*/
}
